Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [46]:
def is_symmetrical(n):
    l = [i for i in str(n)]
    a = int(len(l)/2)
    if len(l)%2 ==0:
        if l[:a]==l[-1:-(a+1):-1]:
            return "symmetrical"
        else:
            pass
    else:
        if l[:a]==l[-1:-(a+1):-1]:
            return "symmetrical"
        else:
            pass
is_symmetrical(1212121)

'symmetrical'

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [52]:
def multiply_nums(s):
    n = s.split(",")
    l = [int(i) for i in n]
    m = 1
    for i in l:
        m *=i
    return m

In [54]:
multiply_nums("10, -2")

-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [57]:
def square_digits(n):
    l = [int(i) for i in str(n)]
    s = ''
    for i in l:
        s += str(i**2)
    return int(s)

In [59]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [61]:
def setify(l):
    s =set(l)
    l = list(s)
    l.sort()
    return l

In [65]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [74]:
def mean(n):
    l = [int(i) for i in str(n)]
    m = sum(l)/len(l)
    return int(m)
mean(42)

3