In [7]:
#1.	Write a Python program to find sum of elements in list?

In [10]:
def list_sum(l):
    sum = 0
    for i in l:
        sum += i
    return sum

In [8]:
list_sum([1,2,3,4,5])

15

In [9]:
#2.	Write a Python program to  Multiply all numbers in the list?

In [11]:
def list_mul(l):
    mul = 1
    for i in l :
        mul *=i
    return mul

In [12]:
list_mul([1,2,3,4])

24

In [13]:
#3.	Write a Python program to find smallest number in a list?

In [20]:
def list_small(l):
    a = min(l)
    return a

In [22]:
list_small([1,2,3,-1])

-1

In [23]:
#4.	Write a Python program to find largest number in a list?

In [24]:
def list_largest(l):
    a = max(l)
    return a

In [27]:
list_largest([1,4,5,67])

67

In [29]:
#5.	Write a Python program to find second largest number in a list?

In [30]:
def list_sec_lar(l):
    s = set(l)
    s.remove(max(s))
    a = max(s)
    return a

In [35]:
list_sec_lar([1,2,2,4, 4,4.5,5,5])

4.5

In [36]:
#6.	Write a Python program to find N largest elements from a list?

In [37]:
def N_lar(l,n):
    if type(l)==list:
        a = sorted(l,reverse = True)
    return a[:n]

In [39]:
N_lar([81, 52, 45, 10, 3, 2, 96],3)

[96, 81, 52]

In [40]:
#7.	Write a Python program to print even numbers in a list?

In [45]:
def list_even(l):
    k= []
    for i in l:
        if i%2 ==0:
            k.append(i)
    return k

In [46]:
list_even([2,4,6,8,10,11,13,15])

[2, 4, 6, 8, 10]

In [47]:
#8.	Write a Python program to print odd numbers in a List?

In [48]:
def list_odd(l):
    k= []
    for i in l:
        if i%2 !=0:
            k.append(i)
    return k

In [49]:
list_odd([2,4,6,8,10,11,13,15])

[11, 13, 15]

In [50]:
#9.	Write a Python program to Remove empty List from List?

In [66]:
def list_empty(l):
    k = []
    m = []
    n = []
    for i in l:
        if type(i)==list and len(i)==0:
            k.append(l.index(i))
        else:
            m.append(l.index(i))
    for i in m:
        n.append(l[i])
    return n

In [70]:
list_empty([1,2,'sri',3.4,[1,23,4],[],[],[],(1,2,3),{"k1":'srinivas',"k2":12323},[]])

[1, 2, 'sri', 3.4, [1, 23, 4], (1, 2, 3), {'k1': 'srinivas', 'k2': 12323}]

In [71]:
#10.	Write a Python program to Cloning or Copying a list?

In [72]:
def list_copy(l):
    a = l[:]
    return a

In [73]:
list_copy([1,2,'sri',3.4,[1,23,4],[],[],[],(1,2,3),{"k1":'srinivas',"k2":12323},[]])

[1,
 2,
 'sri',
 3.4,
 [1, 23, 4],
 [],
 [],
 [],
 (1, 2, 3),
 {'k1': 'srinivas', 'k2': 12323},
 []]

In [74]:
#11.	Write a Python program to Count occurrences of an element in a list?

In [75]:
def list_count(l):
    for i in l:
        print(i, l.count(i))

In [76]:
list_count([1,2,2,3,3,3,3,4,4,5,5,5,5,6,6,6,7,77])

1 1
2 2
2 2
3 4
3 4
3 4
3 4
4 2
4 2
5 4
5 4
5 4
5 4
6 3
6 3
6 3
7 1
77 1